---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>This was made from the Astro Tutorial, followed up to end of Unit 3</h2>
</BaseLayout>